Kivy==2.0.0
Kivy-Garden==0.1.4
Pillow==8.2.0
Pygments==2.8.1
atomicwrites==1.4.0
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
docutils==0.16
idna==2.10
importlib-metadata==3.10.0
kivy-garden.mapview==1.0.5
mapview==1.0.5
mockito==1.2.2
packaging==0.9
pip==21.0.1
pluggy==0.13.1
py==1.10.0
pybuilder==0.12.10
pyparsing==2.4.7
pypiwin32==223
pytest==6.2.2
pywin32==300
requests==2.25.1
setuptools==54.2.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.4
wheel==0.36.2
zipp==3.4.1
